body {
    font-family: Arial, Helvetica, sans-serif;
    height: 1200px;
    background-color: lightblue;
    background-image: linear-gradient( rgb(32, 32, 59), rgb(179, 65, 45));
    
}
.title{
    
    color: white;
    text-align: center;
    font-size: 40px;
}
.subtitle {
    text-align: center;
    
    color: white;
}
.search-button {
    color: white;
    font-size: 18px;
    margin: 5px;
    
}
.control {
    margin: 5px;
    
}
.input {
    padding: 0px;
    font-size: 18px;
    background-color: rgba(24, 24, 43, 0);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(102, 37, 25);
}
.button, .btn {
    background-color: rgb(32, 32, 59);
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgb(32, 32, 59);
    
}
.button:hover, .btn:hover {
    cursor: pointer;
    background-color: rgb(50, 50, 94);
    text-decoration: none;
}
.card-body {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid rgb(102, 37, 25);
}

#c {
    color: white;
    font-size: 16px;
}
#city-info {
    padding: 20px;
    border-radius: 25px;
    border: 1px solid rgb(102, 37, 25);
    color: white;
    
    
}
.city-name h1 {
    text-align: center;
}
.columns {
    background-color: rgba(49, 12, 5, 0.212);
    color: white;
    margin: 1px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;

}
.columns h4, .columns h5 {
    font-size: 16px;
}